{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <div>{{ request.user }}</div>
    <div>{{ request.user.is_authenticated }}</div>

    <form action="{% url 'shop:shopping-list'%}" method="POST">
        {% csrf_token %}
        <label> 검색하고자 하는 상품을 입력해 주세요:</label>
        <input type="text" name="keyword">
        <button>검색</button>
    </form>
    {% for item in items %}
    <div class="item-wrapper">
        <div><label class="item-wrapper-label">상품 이름: </label>
            <p class="item-wrapper-info">{{item.item_name}}</p></div>

        {% if item.item_discount_rate %}
        <div><label class="item-wrapper-label">할인률: </label>
            <p class="item-wrapper-info">{{item.item_discount_rate}}</p>
        </div>
        {% else %}
        <div><label class="item-wrapper-label">할인률: 0%</label></div>
        {% endif %}


        <div><label class="item-wrapper-label">원가: </label>
            <p class="item-wrapper-info">{{item.item_original_price}}</p></div>


        {% if item.item_discount_price %}
        <div><label class="item-wrapper-label">할인가: </label>
            <p class="item-wrapper-info">{{item.item_discount_price}}</p></div>
    </div>
    {% else %}
    <div><label class="item-wrapper-label">할인가: 없음</label></div>
    {% endif %}

</div>
{% endfor %}
</div>
{% endblock%}