{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3 class="title">Login Form</h3>
    <div class="form-wrapper">
        {% if loginForm.non_field_errors %}
            <ul class="error-list">
                {% for error in loginForm.non_field_errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in loginForm %}
                <div class="form-field-wrapper">
                    {{ field }}
                </div>
            {% endfor %}




            <div class="form-button-wrapper">
                <button type="submit">로그인</button>
            </div>
        </form>
    </div>
    <div class="signup-link">
        <a href="{% url 'members:signup' %}">회원가입 페이지</a>
    </div>
{% endblock %}