{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3 class="title">Singup Form</h3>
    <div class="form-wrapper">
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in signupForm %}
            <div class="form-field-wrapper">
                {{ field }}
            </div>
                {% if field.errors %}
                    <ul class="error-list">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            <div class="form-button-wrapper">
                <button type="submit">회원가입</button>
            </div>
        </form>
    </div>
    <div class="login-link">
        <a href="{% url 'members:login' %}">로그인 페이지</a>
    </div>
{% endblock %}